*{

}
body{
    background-image: url("../images/wallpaper.jpg");
    color: black;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: Roboto,sans-serif;
}
#main{
    width: 833px;
    height: 950px;
    background-color: whitesmoke;
    margin: 0 auto;
}
#item{
    background-color: #ececec;
    width: 230px;
    height: 900px;
    padding: 20px;
    box-sizing: border-box;
    margin: 15px 0px -50px 40px;

}
.item{
    margin: 15px 0px 0px 20px;
}

.clip-circle{
    clip-path: circle(60px at center);
    margin: 0px 0px 0px 27.5px;
}
.heading1{
    text-transform: uppercase;
    font-family: SFU Futura,sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-left: -20px;
}
#heading1{
    text-transform: uppercase;
    font-family: SFU Futura,sans-serif;
    font-weight: 600;
    font-size: 18px;

}
table{
    line-height: 3px;
    margin-left: -20px;
}
.info{
    margin-left: 10px;
}
hr{
    margin: 15px 15px 15px -20px;

}
#introduction{
    width: 553px;
    height: 1000px;
    padding-right: 65px;
    box-sizing: border-box;
    float: right;
    text-align: justify;
    margin: -810px -30px 0px -35px;
}
p{
    margin-left: -20px;
}
.p-info{
    font-size: 13px;
}
.heading2{
    line-height: 10px;
}
#h1{
    text-transform: uppercase;
    font-family: "UTM Avo";
    font-size: 50px;
    margin-top: 10px;
}
#profile{
    margin-top: 70px;
}
.pro{

}
.mainname{
    text-transform: uppercase;
    font-weight: bold;
}
#mainname{
    margin-top: -40px;
    text-transform: uppercase;
}
.company{
    margin-top: -13px;
}